body{
    background: url("../img/login-bg.jpg") center center fixed;
    background-size: contain;
    color: #293846;
}
.apsis-bg{
    display: block;
    overflow: hidden;
    background: url("../img/login-bg.jpg") center center fixed;
    background-size: contain;
    color: #fff;
}
.srcil-bg{
    background: url("../img/noisy.jpg") center center fixed;
    background-size: cover;
    display: block;
    overflow: hidden;
}
#wrapper{
    background-color: #131319d1;
}
.ibox {
    margin-bottom: 0;
}
.ibox-title, .ibox-content{
    background-color: #fafafab3;
}
.dropdown-menu{
    background-color: rgba(240, 240, 240, 1);
}
.navbar-fixed-top, .navbar-static-top {
    background: #172314c7;
}
.nav > li > a {
    padding: 5px 15px 5px 15px;
}
.nav > li.active {
    border-left: 4px solid #1ab394;
    background: #1b262fb5;
}
.navbar-top-links li a {
    min-height: 40px;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 10px;
    min-height: 0;
}
.nav.navbar-right > li > a {
    /*color: #7a7a7a;*/
    color: #eeeeee;
}
.navbar-top-links .dropdown-menu > li > a:focus,
.navbar-top-links .dropdown-menu > li > a:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #293846;
}
.nav-second-level li a {
    padding: 5px 10px 5px 10px;
    padding-left: 15px;
}
.nav-second-level li, .nav-third-level li {
    border-bottom: none !important;
    margin-left: 20px;
}
.nav-second-level li:last-child {
    padding-bottom: 0;
}
.nav.nav-second-level > li.active {
    border: none;
    background: none;
}
ul.nav.metismenu li a {
    line-height: 1.2rem;
}
/*--------------------*/
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #293846;
}
.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
    margin-top: 0;
}
.ibox-tools a {
    color: #333333 !important;
}
.ibox-tools {
    top: 10px;
}
.btn {
    box-shadow: 0px 3px 5px #e1e1e100, 0 2px 3px #33333338, 0px 2px 2px #333333a8;
    font-size: inherit;
}
.form-label{
    margin-bottom: .1rem;
    font-weight: 600;
}
.form-group {
    margin-bottom: .5rem;
}
.form-control{
    box-shadow: inset 0px 0px 24px #e1e1e1, 0px 3px 5px #e1e1e190, 0 2px 3px #3333333b, 0px 2px 2px #3333333b;
}
.form-control:focus{
    border-color: #fefefe;
    outline: none !important;
    box-shadow: 0 3px 5px #3333333b, 0 3px 5px #3333333b;
}
.input-group>.form-control:focus {
    border-color: #fefefe;
    outline: none !important;
    box-shadow: 0 3px 5px #3333333b, 0 3px 5px #3333333b;
}
.input-group-addon{
    box-shadow: inset 0px 0px 24px #e1e1e1, 0px 3px 5px #e1e1e190, 0 2px 3px #3333333b, 0px 2px 2px #3333333b;
}

.modal-lg {
    max-width: 90% !important;
}
.modal-md {
    max-width: 60% !important;
}
.inmodal .modal-header {
    padding: 15px 10px;
}
.inmodal .modal-body {
    background: none;
}
.modal-body {
    padding: 15px;
}
.table{
    border-spacing: 1px;
}
.table-condensed > tbody > tr > td{
    padding: .4rem;
}
.table > tbody > tr > td {
    padding: 3px !important;
    vertical-align: middle;
}
.table > thead{
    box-shadow: inset 0px 0px 24px #b8b8b8;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #b8b8b830;
}
.dataTables_wrapper {
    padding-bottom: 10px;
}
@media (min-width: 660px) {
    .dataTables_paginate {
        float: right;
    }
}
.wrapper-content {
    padding: 10px 0px 25px;
}
.ibox-content {
    padding: 15px;
    /*box-shadow: 0 0px 60px #fafafab3;*/
}
.container-fluid {
    padding: 0;
}
.no-display{
    display: none;
}
.nav-header {
    padding: 5px 10px;
}
.feed-element {
    padding-bottom: 5px;
}
.footer {
    background: #10111424;
    border: none;
    box-shadow: 0px 0px 30px #1011144d;
}

/*multiselect label full width clickable*/
.multiselect-container .input-group {
    margin: 0 !important;
}
.multiselect-container>li>a>label {
    width: 100% !important;
    padding: 0px 0px 2px 3px !important;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.1rem + 2px);
}
button.multiselect{
    text-align: left;
    width: 100%;
    position: relative;
    height: calc(2.25rem);
    border-radius: 0;
    padding-right: 15px;
    padding-left: 5px;
}
button.multiselect .caret{
    margin-top: 7px;
    position: absolute;
    right: 3px;
    top: 7px;
}
button.btn.btn-default.multiselect-clear-filter {
    height: calc(2.25rem) !important;
    border-radius: 0;
    width: 100%;
    background: #ff0000e6;
    border: #ff0000e6;
    color: #ffffff;
    box-shadow: inset 0px 0px 24px #e1e1e1, 1px 3px 6px #e1e1e190, 0 3px 5px #3333333b, 0 3px 5px #3333333b;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 7px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
button.multiselect.dropdown-toggle.btn.btn-default {
    box-shadow: inset 0px 0px 24px #e1e1e1, 0px 3px 5px #e1e1e190, 0 2px 3px #3333333b, 0px 2px 2px #3333333b;
}
.dropdown-toggle:after { content: none }
.multiselect-container {
    width: 100% !important;
}
.dropdown-menu label.radio input[type=radio]{
    visibility: hidden;
    width: 0;
}
.dropdown-menu label.radio{
    padding-left:10px;
}
/*==============Backgrounds============*/
.bg-blue, .bg-primary{
    background-color: #007bff;
}
.bg-indigo{
    background-color: #6610f2;
}
.bg-purple{
    background-color: #6f42c1;
}
.bg-pink{
    background-color: #e83e8c;
}
.bg-red{
    background-color: #dc3545;
}
.bg-orange{
    background-color: #fd7e14;
}
.bg-yellow, .bg-warning{
    background-color: #ffc107;
}
.bg-green, .bg-success{
    background-color: #28a745;
}
.bg-teal, .bg-info{
    background-color: #20c997;
}
.bg-cyan{
    background-color: #17a2b8;
}
.bg-white{
    background-color: #ffffff;
}
.bg-gray{
    background-color: #6c757d;
}
.bg-gray-dark{
    background-color: #343a40;
}
.bg-secondary{
    background-color: #6c757d;
}
.bg-danger{
    background-color: #dc3545;
}
.bg-light{
    background-color: #f8f9fa;
}
.bg-dark{
    background-color: #343a40;
}
/*==============Login Section============*/
.loginscreen{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e2946bf;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.login-container{
    width: 400px;
    background:rgba(255,255,255,0.9);
    padding: 0 30px 30px 30px;
    color: #333;
    box-shadow: 0px 0px 16px #aaa;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.loginscreen .brand-logo{
    display: inline-block;
    text-align: center;
    margin: -70px 0 5px 0;
    border-radius: 50%;
    background: #efefef;
    padding: 10px;
    box-shadow: 0px -2px 10px #aaaaaacc;
}

.loginscreen .logo-name{
    font-size:22px;
    line-height: 1.2;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    margin: 5px 0 0 0;
}
.loginscreen .subtitle{
    color: #999;
    margin-bottom: 15px;
    font-size: 12px;
    display: block;
    text-align: center;
}
.loginscreen h1.logo-name strong{
    font-weight: 700;
}
.forget-pass{
    margin-top: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #f62f00;
}
.copyright{
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    width: 100%;
    z-index: 0;
}
.loginscreen .brand-logo:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.minimalize-styl-2 {
    padding: 2px 6px;
}
.autocomplete, .autocomplete-master-entry, .custom-search-autocomplete { position: absolute; z-index: 2; background: transparent !important; }
/*.autocomplete-shade { color: #CCC; position: absolute; background: transparent; z-index: 1; }*/
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }